.MiniSpinner {
    display: inline-block;
}

.MiniSpinner-dot1 {
    animation: MiniSpinner-dot1 2s infinite;
}

.MiniSpinner-dot2 {
    animation: MiniSpinner-dot2 2s infinite;
}

.MiniSpinner-dot3 {
    animation: MiniSpinner-dot3 2s infinite;
}

@keyframes MiniSpinner-dot1 {
    0% { opacity: 0; }
    24% { opacity: 0; }
    25% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes MiniSpinner-dot2 {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes MiniSpinner-dot3 {
    0% { opacity: 0; }
    74% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 1; }
}
