.ProgressBar {
    position: relative;
    border: 1px solid #888;
    height: 20px;
}

.ProgressBar-progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width ease 0.3s;
    background: #D7B36A;
}

.ProgressBar-label {
    color: #888;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 14px;
    padding: 3px 10px;
    text-align: center;
}
